html, body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    margin: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#f8f8f8;
}

.ui-widget {
    font-family: arial !important;
}

.bordeless-panelgrid td, .bordeless-panelgrid tr, .bordeless-panelgrid table {
    border-style: none !important
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top-bar {
    border-bottom: 1px solid black;
    font-family: Arial, sans-serif;
    position: absolute;
    color: #f8f8f8;
    font-size: 1.6em;
    padding: 12px 14px 14px 12px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 18px;
    font-weight: bold;
    /*background: linear-gradient(#606fc0, #5c68ae);*/
    background: linear-gradient(#0088cc, #0077b3);
}

.menu-form {
    position: absolute;
    top: 50px;
    bottom: 5px;
    left: 5px;
    width: 210px;
    margin-bottom: 0px;
}

.sie-menu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 210px;
    overflow: auto;
}

.body {
    position: absolute;
    top: 50px;
    bottom: 5px;
    left: 222px;
    right: 5px;
    overflow: auto;
}

.big-body {
    position: absolute;
    top: 50px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    overflow: auto;
}
