html, body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    margin: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
}

.ui-widget {
    font-size: 14px;
}

.bordeless-panelgrid td, .bordeless-panelgrid tr, .bordeless-panelgrid table {
    border-style: none !important
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top-bar {
    border-bottom: 1px solid #D5D5D5;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #205081;
}

.logo {
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
    font-size: 26px;
    padding: 8px 14px 18px 12px;
    font-weight: bold;
    color: floralwhite;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.menu-form {
    position: fixed;
    top: 45px;
    bottom: 3px;
    left: 3px;
    width: 214px;
    margin-bottom: 0px;
}

.sie-menu {
    position: inherit;
    top: inherit;
    bottom: inherit;
    width: inherit;
    overflow: auto;
}

.body {
    position: absolute;
    top: 45px;
    bottom: 3px;
    left: 222px;
    right: 3px;
}

.big-body {
    position: absolute;
    top: 45px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}

.fa {
    padding-right: 4px;
}

.panelGridNoBorderNoColor td, .bordeless-panelgrid tr, .bordeless-panelgrid table {
    border-style: none !important;
    background-color: transparent !important;;
    background: transparent !important;;
}
