html, body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    margin: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
}

.ui-widget {
    font-size: 14px;
}

.bordeless-panelgrid td, .bordeless-panelgrid tr, .bordeless-panelgrid table {
    border-style: none !important
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.top-bar {
    border-bottom: 1px solid #D5D5D5;
    font-family: "Segoe UI", Verdana, Arial, sans-serif;
    position: absolute;
    font-size: 1.6em;
    padding: 8px 14px 18px 12px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    font-weight: bold;
    color: dimgrey;
    background: linear-gradient(rgb(246, 247, 249), rgb(235, 237, 240));
}

.menu-form {
    position: absolute;
    top: 50px;
    bottom: 3px;
    left: 3px;
    width: 207px;
    margin-bottom: 0px;
}

.sie-menu {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 207px;
    overflow: auto;
}

.body {
    position: absolute;
    top: 50px;
    bottom: 3px;
    left: 222px;
    right: 3px;
    overflow: auto;
}

.big-body {
    position: absolute;
    top: 50px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    overflow: auto;
}

.fa {
    padding-right: 4px;
}