body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.btn-margin-left {
    margin-left: 2px;
}

.btn-margin-right {
    margin-right: 2px;
}

.bold {
    font-weight: bold;
}

.fa {
    margin-right: 10px;
}