.navbar-static-top {
    margin-bottom: 19px;
}

.btn-margin-left {
    margin-left: 2px;
}

.btn-margin-right {
    margin-right: 2px;
}

.bold {
    font-weight: bold;
}

.fa {
    margin-right: 10px;
}

body {
    margin-bottom: 30px;
}