body, html {
    background-color: #FCFDFE;
    height: 100%;
}

.btn-margin-left {
    margin-left: 2px;
}

.btn-margin-right {
    margin-right: 2px;
}

.bold {
    font-weight: bold;
}

.fa {
    margin-right: 5px;
}


.ajaxloader {
    position: fixed;
    z-index: 5000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ajaxloaderContainer {
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    z-index: 4000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.required::before {
    display:inline;
    float:none;
    color:red !important;
    content: '* ';
}

.bootstrap-switch {
    height: 28px !important;
}

.invert
{
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-form {
    margin-bottom: 14px;
}